<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Studio</title>
  </head>
  <body>
    <h1>Add New Studio</h1>
    <form action="addStudio" method="POST">
      <label for="studioName">Name (case-sensitive): </label>
      <input type="text" name="studioName" id="studioName" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
