<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Game</title>
    <link rel="stylesheet" href="/form.scss" />
  </head>
  <body>
    <h1>Add New Game</h1>
    <form action="/added" method="POST">
      <label for="gameName">Name: </label>
      <input type="text" name="gameName" id="gameName" required />
      <label for="studio">Select Studio </label>
      <select name="studio" id="studio">
        <% studioList.forEach(item => { %>
        <option value="<%= item.studio_name %>"><%= item.studio_name %></option>
        <% }) %></select
      ><br /><br />
      Select Category: <br /><br />
      <% categoryList.forEach(item => { %> <input type="checkbox" id="category"
      name="category value="technology" />
      <label for="<%= item.category_name %>"><%= item.category_name %></label><br />

      <% }) %>

      <button type="submit">Submit</button>

      <h4>
        Didn't find your desired studio or category? Add the concerned from
        below ways:
      </h4>
      <button>Add New Studio</button><br /><br />
      <button>Add New Category</button><br /><br />
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
