<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
    <link rel="stylesheet" href="/form.scss" />
  </head>
  <body>
    <h2><%= studioName[0].category_name %> Games</h2>
    <ol>
      <% games.forEach(item => { %>
      <li><%= item.game_name %></li>
      <% }) %>
    </ol>
    <a href="/">Back to homepage</a>
  </body>
</html>
