<!-- index.ejs -->
<html>
  <head>
    <title>Game Inventory</title>
    <link rel="stylesheet" href="/index.scss" />
  </head>
  <body>
    <h1>Inventory of popular games</h1>
    <div class="byStudios">
      <h3>Discover by popular studio</h3>
      <% studioList.forEach(item => { %>
      <a href="/studio/<%= item.studio_id %>">
        <button><%= item.studio_name %></button>
      </a>
      <% }) %>
    </div>
    <div class="categories">
      <h3>Discover by categories</h3>
      <% categoryList.forEach(item => { %>
      <a href="/category/<%= item.category_id %>">
        <button><%= item.category_name %></button>
      </a>
      <% }) %>
    </div>
    <br /><br />
    <h3>Add Game</h3>
    <a href="/addGame"> <button>Add Game</button> </a><br /><br /><br />

    <h3>Edit</h3>
    <a href="/editGame">Edit existing game</a><br />
    <a href="/editStudio">Edit existing studio</a><br />
    <a href="/editCategory">Edit existing category</a><br /><br />

    <h3>Deletion</h3>
    <a href="/deleteGame">Delete a game</a><br />
    <a href="/deleteStudio">Delete a studio</a><br />
    <a href="/deleteCategory">Delete a category</a><br /><br />
    <a href="/deleteAllData">Delete all data?</a>
  </body>
</html>
