<!-- index.ejs -->
<html>
  <head>
    <title>Game Inventory</title>
    <link rel="stylesheet" href="/index.scss" />
  </head>
  <body>
    <h1>Inventory of popular games</h1>
    <div class="byStudios">
      <h3>Discover by popular studio</h3>
      <% studioList.forEach(item => { %>
      <a href="/studio/<%= item.studio_id %>">
        <button><%= item.studio_name %></button>
      </a>
      <% }) %>
    </div>
    <div class="categories">
      <h3>Discover by categories</h3>
      <% categoryList.forEach(item => { %>
      <a href="/category/<%= item.category_id %>">
        <button><%= item.category_name %></button>
      </a>
      <% }) %>
    </div>
  </body>
</html>
