<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Studio</title>
  </head>
  <body>
    <h1>Edit Studio Name</h1>
   <form action="editStudio" method="POST">
      <h2>Choose Studio to update</h2>
      <label for="studio">Select Studio </label>
      <select name="studioId" id="studioId">
        <option value="">Select</option>
        <% studioList.forEach(item => { %>
        <option value="<%= item.studio_id %>"><%= item.studio_name %></option>
        <% }) %>
      </select>
      <br /><br />
      <label for="studioName">Name (case-sensitive): </label>
      <input type="text" name="studioName" id="studioName" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
